<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TVDb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <TVDb.Properties.Settings>
      <setting name="ShowsToDisplay" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="ShowHidden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowsListSeriesNameColumnWidth" serializeAs="String">
        <value>127</value>
      </setting>
      <setting name="ShowsListFirstAiredColumnWidth" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ShowsListNetworkColumnWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ShowsListStatusColumnWidth" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ShowsListRatingColumnWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ShowsListRuntimeColumnWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="EpisodeListEpisodeNameColumnWidth" serializeAs="String">
        <value>151</value>
      </setting>
      <setting name="EpisodeListAiredColumnWidth" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="EpisodeListEpisodeNumberColumnWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="EpisodeListSeasonColumnWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="EpisodeListRatingColumnWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="EpisodeListEpisodeIdColumnWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="test" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="test2" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="test3" serializeAs="String">
        <value>77</value>
      </setting>
    </TVDb.Properties.Settings>
  </userSettings>
</configuration>